<aside :class="{ active: $store.state.mobileFilters }">
  <search :schools="<%= @schools_json %>" :query="<%= @query.to_json %>" zipcode="<%= @zipcode %>" locale="<%= I18n.locale %>" more_info="<%= t("schools.more_info")%>">
    <%= render "form" %>

    <span slot="toggle">
      <span class="summary"><strong>{{ $store.state.schools.length }}</strong> <%= t("search.schools_match_criteria") %></span>
      <span class="change"><%= t("search.change_criteria") %></span>
    </span>
  </search>
</aside>

<school-map :interactive="true"></school-map>

<modal onclose="setCookie">
  <h2 class="header"><%= t("greeting.header") %></h2>
  <p><%= t("greeting.body") %></p>
  <a href="#" class="btn" data-close="true"><%= t("greeting.close") %></a>

  <small><%= link_to t("header.alt_locale"), alt_locale_path, class: "locale" %></small>
</modal>
