<%= content_for :page_title, t("header.find_matches") %>

<aside :class="{ active: $store.state.mobileFilters }">
  <search :schools="<%= @schools_json %>" :query="<%= @query.to_json %>" zipcode="<%= @zipcode %>" locale="<%= I18n.locale %>" more_info="<%= t("schools.more_info")%>">
    <%= render "form" %>

    <span slot="toggle">
      <span class="summary"><strong>{{ $store.state.schools.length }}</strong> <%= t("search.schools_match_criteria") %></span>
      <span class="change"><%= t("search.change_criteria") %></span>
    </span>
  </search>
</aside>

<school-map :interactive="true"></school-map>
